.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f0f0f0;
}

.form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
